:root{
    --poppins-font:"Poppins",'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
*{
    margin: 0px;
    box-sizing: border-box;
}
body{
    font-family: var(--poppins-font);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to bottom, #87ceeb, #f0f4f8);
    height: 100vh;
}

.title h1{
    font-size: 28px;
    padding: 8px 0px;
    text-align: center;
    margin-top: 8px;
}

.search-box{
    padding: 16px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 12px;
    
}
.search-box img {
    cursor: pointer;
}
.search-box input{
    height: 30px;
    border: none;
    outline: none;
    border: 1px solid black;
    border-radius: 10px;
    
}
.search-box input::placeholder{
    padding: 8px 8px;
    font-size: 14px;
}
.card-box{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: solid 1px black;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 20px 30px 0 rgba(0, 0, 0, .3);
}
.city{
    font-size: 24px;
    padding: 16px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.status {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.status img {
    width: 200px;
    height: 200px;
}
.status p {
    padding-top: 8px;
    font-size: 24px;
    font-family: var(--poppins-font);
}
.icon{
    width: 24px;
    height: 24px;
}
.others {
    display: flex;
    justify-content: space-between;
    gap: 100px;
}
.others div {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 0px;
    font-size: 18px;
    font-family: var(--poppins-font);
}