:root{
    --poppins-font:"Poppins",'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
*{
    margin: 0px;
    box-sizing: border-box;
}
body{
    font-family: var(--poppins-font); 
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to bottom, #87ceeb, #f0f4f8);
    height: 100vh;
}

.title h1{
    font-size: 28px;
    padding: 8px 0px;
    text-align: center;
    margin-top: 8px;
}

.search-box{
    padding: 16px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    animation-delay: 0.5s;
    
}
.search-Btn{
    height: 50px;
}
.search-Btn img {
    padding: 8px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-color: #fff;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}
/* .search-box input::after{
    content: '';
    display: inline-block;
    width: 1px;
    height: 5px;
    background-color: black;
    margin-right: 2px;
} */
.search-box input{
    min-height: 50px;

    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 10px 20px;
    /* border-radius: 30px; */
    width: 250px;
    height: 40px;
    border: none;
    outline: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    box-shadow: 0 20px 30px 0 rgba(0, 0, 0, .1);
    
}
.search-box input::placeholder{
    padding: 8px 8px;
    font-size: 14px;
}

@keyframes fadeUpse {
    0%{
        opacity: 0.5;
        transform: translateY(180px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
@keyframes fadeUp {
    0%{
        opacity: 0.5;
        transform: translateY(150px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
.card-box{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    display: none;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 20px 30px 0 rgba(0, 0, 0, .3);
    opacity: 0;
    animation: fadeUp 1s ease-in forwards;
    animation-delay: 0.5s;
    transition: animation 1s;

}
.city{
    font-size: 24px;
    padding: 16px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.status {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.status img {
    width: 200px;
    height: 200px;
}
.status p {
    font-size: 24px;
    font-family: var(--poppins-font);
}
.icon{
    width: 24px;
    height: 24px;
}
.others {
    display: flex;
    justify-content: space-between;
    gap: 100px;
}
.others div {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 0px;
    font-size: 18px;
    font-family: var(--poppins-font);
}